 /*-- Global Selectors --*/
  /*-- Global Selectors --*/
a{
    color:#47649F;
}

body{
    font-family:'helvetica';    
}

/*-- Bootstrap Override Style --*/


/*-- Content Style --*/
.post-footer li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;    
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}
.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}


.nav-sidebar {
        
        padding: 8px 0;
       
       
        
    

    }
    

    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .nav-sidebar .active a {
        cursor: default;
        background-color: #428bca;
        color: #fff;
        text-shadow: 1px 1px 1px #666;
    }

    .nav-sidebar .active a:hover {
        background-color: #428bca;
    }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    /* Right-aligned sidebar */

    .nav-sidebar.pull-right {
        
        
    }

    .nav-sidebar.pull-right a {
        
    }

   .button_connection
   {
    background-color: #DAD8D8;
    color: black;
    text-overflow: ellipsis;
    text-decoration: none !important;
    white-space: nowrap;
    width: 170px;
    overflow: hidden !important;
    text-align: justify !important;
    text-decoration:none !important;
    
    
   }
   .button_profile
   {
    background-color: #DAD8D8;
    color: black;
    text-decoration: none !important;
    width: 170px;
    overflow: hidden !important;
    text-align: justify !important;
    text-decoration:none !important;
    padding:10px;  
    
    
   }
   .button_m{
    margin-left: -25%;
   }
   .button_profile a
   {
    text-decoration: none !important;
    
   }
   .button_profile a:hover
   {
    text-decoration: none !important;
    color :black !important;
     
   }
   .button_profile:hover
   {
    background-color: #e7e7e7; 
   }

   .button_connection:hover 
   {
       background-color: #e7e7e7;   
   }
.show_home_post{
    margin-left: -9%;
}
   .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
