 /*-- Global Selectors --*/
  /*-- Global Selectors --*/
a{
    color:#47649F;
}

body{
    font-family:'helvetica';    
}

/*-- Bootstrap Override Style --*/


/*-- Content Style --*/
.post-footer li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;    
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}
.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}


.nav-sidebar {
        
        padding: 8px 0;
       
       
        
    

    }
    

    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .nav-sidebar .active a {
        cursor: default;
        background-color: #428bca;
        color: #fff;
        text-shadow: 1px 1px 1px #666;
    }

    .nav-sidebar .active a:hover {
        background-color: #428bca;
    }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    /* Right-aligned sidebar */

    .nav-sidebar.pull-right {
        
        
    }

    .nav-sidebar.pull-right a {
        
    }
/* side nav buttons */
   .button_connection
   {
    background-color: #DAD8D8;
    color: black;
    text-overflow: ellipsis;
    text-decoration: none !important;
    white-space: nowrap;
    width: 170px;
    overflow: hidden !important;
    text-align: justify !important;
    text-decoration:none !important;
    
    
   }
   .button_profile
   {
    background-color: #DAD8D8;
    color: black;
    text-decoration: none !important;
    width: 170px;
    overflow: hidden !important;
    text-align: justify !important;
    text-decoration:none !important;
    padding :10px;  
    
    
   }
   .button_m{
    margin-left: -25%;
   }
   .button_profile a
   {
    text-decoration: none !important;
    
   }
   .button_profile a:hover
   {
    text-decoration: none !important;
    color :black !important;
     
   }
   .button_profile:hover
   {
    background-color: #e7e7e7; 
   }

   .button_connection:hover 
   {
       background-color: #e7e7e7;   
   }
/* end side nav buttons */
/* home post */
.show_home_post{
    margin-left: -9%;
}
/*end home post*/
/*rating style*/
.HeaderBarThreshold:hover input[name="rating"]
{
      visibility:visible !important; 
}
.HeaderBarThreshold:hover label[id="star"]
{
      visibility:visible !important; 
}



.star-rating {
direction: rtl;
display: inline-block;
padding: 20px
}

.star-rating input[type=submit] {
display: none
}

.star-rating label {
color: #bbb;
font-size: 18px;
padding: 0;
cursor: pointer;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=submit]:checked ~ label {
color: #f2b600
}

/*End rating style*/
/*post style disable*/
#user_post{
    background-color: white;
    cursor: pointer;
}
#user_post:hover
{
    cursor: pointer;

}
/*post style disable*/

/*--gallery modal --*/
/*--gallery modal online script--*/

    .img-modal {
        display: block;
    }

    .img-modal .modal-dialog {
        /* An arbitrary minimum height. Feel free to modify this one as well */
        min-height: 350px;
        height: 80%;
    }

    .img-modal .modal-content,
    .img-modal .modal-body,
    .img-modal .row,
    .img-modal .modal-image {
        height: 100%;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .modal-image {
        background: #000;
        padding: 0;
    }

    .modal-image img {
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;

        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .img-modal .img-modal-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        font-size: 1.5em;
        width: 45px;
        color: #fff;
        transition: opacity .2s ease-in;
    }

    .img-modal .modal-image:hover .img-modal-btn {
        opacity: 0.4;
    }

    .img-modal .modal-image:hover .img-modal-btn:hover {
        opacity: 0.75;
    }

    .img-modal .img-modal-btn.right {
        right: 0;
    }

    .img-modal .img-modal-btn i {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: -.75em;
    }

    .img-modal .modal-meta {
        position: relative;
        height: 100%;
    }

    .img-modal .modal-meta-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 45px;
        padding: 5px 10px;
        overflow-y: auto;
    }

    .img-modal .modal-meta-top .img-poster img {
        height: 70px;
        width: 70px;
        float: left;
        margin-right: 15px;
    }

    .img-modal .modal-meta-top .img-poster strong {
        display: block;
        padding-top: 15px;
    }

    .img-modal .modal-meta-top .img-poster span {
        display: block;
        color: #aaa;
        font-size: .9em;
    }

    .img-modal .modal-meta-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
        border-top: solid 1px #ccc;
    }

    .img-modal .img-comment-list {
        list-style: none;
        padding: 0;
    }

    .img-modal .img-comment-list li {
        margin: 0;
        margin-top: 10px;
    }

    .img-modal .img-comment-list li>div {
        display: table-cell;
    }

    .img-modal .img-comment-list img {
        border-radius: 50%;
        width: 42px;
        height: 42px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .img-modal .img-comment-list p {
        margin: 0;
    }

    .img-modal .img-comment-list span {
        font-size: .8em;
        color: #aaa;
    }

    @media only screen and (max-width: 992px) {
        .modal-content {
            border-radius: 0;
            max-height: 100%;
            overflow-y: auto;
        }

        .img-modal .modal-image {
            height: calc(100% - 100px);
        }

        .img-modal .modal-meta {
            height: auto;
        }

        .img-modal .modal-meta-top {
            position: static;
            padding-top: 15px;
        }

        .img-modal .modal-meta-bottom {
            position: static;
            margin: 0 -15px;
        }
    }
/*end gallery modal style*/